body {
  background-color: #7bbd4d;
}
.App-logo {
  width: 15%;
}

@media only screen and (max-width: 400px) {
  .App-logo {
    width: 10%;
  }
}
/*register css */
.signup .container,.signin .container {
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.form-title {
  margin-bottom: 33px;
  font-weight: bold;
}


.signup{
  height: 85vh;
  display: grid;
 
}

.signup-content,.signin-content {
  padding: 30px 10px;
}
.signup-form,
.signin-form {
  width: 60%;
  overflow: hidden;
}
 
.material-icons-name {
  font-size: 18px;
}

.signup-form{
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 30px;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}
input,textarea {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-bottom: 1px solid #222 !important;
}
label {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  
}
.signup-image{
  display: flex;
  flex-direction: column;
  width: 80%;
}
.signin-image{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 10px;
}
.signup-image-link,.signin-image-link{
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;
}
@media only screen and (max-width: 400px) {
  .signup-form,.signin-form {
    margin-left: 5px;
    padding-left: 2px;
    width: 100%;
  }
 
}
@media only screen and (max-width: 500px) {
  .signup-form,.signin-form {
    margin-left: 5px;
    padding-left: 2px;
    width: 100%;
  }
}
.contact_info {
  width: 100%;
  padding-top: 70px;
}

.contact_info_item {
  width: calc((100% - 60px) / 3);
  height: 100px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-left: 32px;
  padding-right: 15px;
}
.contact_info_image {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 20px;
}
.contact_info_image img {
  max-width: 100%;
}

.contact_info_content {
  padding-left: 17px;
}

.contact_info_title {
  font-weight: 500;
}

.contact_info_text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.contact_form {
  padding-top: 85px;
}
.contact_form_title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 37px;
}
.contact_form_inputs {
  margin-bottom: 30px;
}

.contact_form_name_input_field {
  width: calc((100% - 60px) / 3);
  height: 50px;
  padding-left: 25px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  outline: none;
  /* color: #0e8ce4; */
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus 
{
  border-color: #b2b2b2;
}

.input_field:hover,
.text_field:hover 
{
  border-color: #b2b2b2;
}

.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.input_field:-moz-placeholder,
.text_field:-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.input_field::-moz-placeholder,
.text_field::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.input_field::input-placeholder,
.text_field::input-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.text_field {
  width: 100%;
  height: 160px;
  padding-left: 25px;
  padding-top: 15px;
  border: solid 1px #e5e5e5;
  border-radius: 5px;
  color: #0e8ce4;
  outline: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_submit_button {
  padding-left: 35px;
  padding-right: 35px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
}

.panel {
  width: 100%;
  height: 50px;
  background: #fafafa;
  margin-top: 120px;
}
.button {
  display: inline-block;
  background: #97cbfa;
  border-radius: 5px;
  height: 48px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
}

.button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 991px) {
  .contact_info_item {
    width: 100%;
    margin-bottom: 30px;
  }

  .contact_info_item:last-child {
    margin-bottom: 0px;
  }
  label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
  }
}
@media only screen and (max-width: 575px) {
  .contact_submit_button {
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
  }
}




.card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important;
}
.card-body{
  padding: 3rem 0!important;
}
.card-text{
  font-size: .9rem;
  padding: 0.4rem 1.9rem;
}
.overflow{
  overflow:hidden;
}
.card-img-top{
  transform:scale(1);
  transition: transform 0.5s ease;
}
.card-img-top:hover{
  transform:scale(1.8);
}